body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.everything {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wbox {
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 14px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.qr {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image {
    padding: 0px;
    margin: 0px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 8px;
}

.improve {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
}

.scan {
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}
